.test {
    width: 100vw;
    height: 100vh;
    background-color: #232323;
    display: grid;
    place-items: center;
}

.test .wrap {
    width: 32rem;
    height: 8rem;
    background-color: hsl(275, 72%, 68%);
    color: #eee;
    padding: 1rem;
}

.test form {
    width: fit-content;
    display: inline;
    position: relative; /*for tools to work*/
}

.test span.marked {
    background: #00f4;
}

.test input {
    all: unset;
    width: var(--width);
    height: 1em;
}

.test input:focus {
    background-color: #0002;
}