.tools {
    position: absolute;
    top: -2.5em;
    left: 0;
    background-color: #fff4;
    width: 4em;
    height: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.tools i:hover {
    scale: 1.1;
}